@import url('reset.css');

 body {
  background: #707070;
 }
 
 .sub_container {
  width: 500px;
  margin: 0 auto;
 }

 .my_form {
  background: white;
  box-sizing: border-box;
  padding: 50px 20px;
  border-radius: 8px;
 }

 .form-container {
  width: 300px;
  margin: 0 auto;
 }

 .heder_myForm {
  color: #46A358;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
 }

 .text-form2 {
  font-size: 13px;
  color: #3D3D3D;
  margin-top: 36px;
  text-align: center;
 }

 .text-form {
  font-size: 13px;
  color: #3D3D3D;
  margin-top: 40px;
 }

 ::placeholder {
  color: #A5A5A5;
 }

 .input1 {
  padding: 12px 14px;
  width: 100%;
  margin-top: 16px;
  border-radius: 8px;
 }

  .butt1 {
  background-color: #46A358;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
 }

 .butt2 {
  background-color: rgb(157, 153, 153);
  margin-top: 15px;
  width: 100%;
  padding: 15px;
  border-radius: 8px;
 }

 .span_login {
  color: #3D3D3D;
 }

 .header {
  padding: 20px 0;
  background: black;
  color: white;
  text-align: center;
 }

 .header_title {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.header_list a {
  color: aquamarine;
}

.main {
  padding: 40px;
  background: #a81616;
}

.footer {
  background: black;
  padding: 57px;
  color: white;
}

.footer p {
  text-transform: lowercase;
  text-align: center;
  font-size: 15px;
}
