@import url('reset.css');

 body {
  background: #707070;
 }
 
 .container {
  width: 500px;
  margin: 0 auto;
 }

 form {
  background: white;
  box-sizing: border-box;
  padding: 50px 20px;
  border-radius: 8px;
 }

 .form-container {
  width: 300px;
  margin: 0 auto;
 }

 h2 {
  color: #46A358;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
 }

 .text-form2 {
  font-size: 13px;
  color: #3D3D3D;
  margin-top: 36px;
  text-align: center;
 }

 .text-form {
  font-size: 13px;
  color: #3D3D3D;
  margin-top: 40px;
 }

 ::placeholder {
  color: #A5A5A5;
 }

 input {
  padding: 12px 14px;
  width: 100%;
  margin-top: 16px;
  border-radius: 8px;
 }

  button {
  background-color: #46A358;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
 }